<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!-- Navigation-->
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="mainNav">
          <div class="container">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <h1> Justice W. Sparks </h1>
              <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                
              <%= link_to 'Sign-in/Sign-up', new_project_path unless user_signed_in? %>                  
               
              <%= link_to 'Logout ' , destroy_user_session_path, :method => :delete if user_signed_in? %>  
             
              <%= link_to ' New Project', new_project_path if user_signed_in? %>                           
            </ul>
          </div>
        </nav>

  <%= yield %>
  </body>
</html>
